<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <p th:if="${#fields.hasErrors('author')}">author must be not empty</p>
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}">title must be not empty</p>
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                    <p th:if="${#fields.hasErrors('size')}">size must be digit from one and less than 4 signs</p>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookIdToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove by id">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found!</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/removeByAuthor}" th:object="${bookAuthorToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="submit" value="remove by author">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Author must be not empty!</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/removeByTitle}" th:object="${bookTitleToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="title" th:field="*{title}">
                </td>
                <td>
                    <input type="submit" value="remove by title">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Title must be not empty!</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/removeBySize}" th:object="${bookSizeToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="size" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="remove by size">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Size must be digit from one and less than 4 signs</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file"/>
                </td>
                <td>
                    <input type="submit" value="upload"/>
                </td>
            </tr>
        </table>
    </form>

    <table id="files">
        <tr>
            <th>filename</th>
            <th></th>
        </tr>
        <tr th:each="file : ${fileList}">
            <td th:text="${file}"></td>
            <td>
                <a th:href="@{|/books/downloadFile?filename=${file}|}">
                    <button name="file_download" type="button">
                        Download
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <form method="get" th:action="@{/books/filter}" th:object="${bookParamsToFilter}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <p th:if="${#fields.hasErrors('author')}">If not empty author must be less then 60 symbols</p>
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}">If not empty title must be less then 100 symbols</p>
                </td>
                <td>
                    <input type="text" placeholder="min size (pages)" th:field="*{minSize}">
                    <p th:if="${#fields.hasErrors('minSize')}">If not empty minSize must be digit from one and less than 4 signs</p>
                </td>
                <td>
                    <input type="text" placeholder="max size (pages)" th:name="*{maxSize}">
                    <p th:if="${#fields.hasErrors('maxSize')}">If not empty maxSize must be digit from one and less than 4 signs</p>
                </td>
                <td>
                    <input type="submit" value="filter">
                </td>
            </tr>
        </table>
    </form>

    <a th:href="@{/books/undoFilter}">
        <button name="undo_filter" type="button">
            Reset filter
        </button>
    </a>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>

    <a th:href="@{/users/control}">
        <button name="user_control" type="button">
            Go to user control
        </button>
    </a>

</div>
</body>
</html>