<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User control</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #users {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/users/register}" th:object="${user}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="user" th:field="*{user}">
                    <p th:if="${#fields.hasErrors('user')}">user must be not empty</p>
                </td>
                <td>
                    <input type="text" placeholder="password" th:field="*{password}">
                    <p th:if="${#fields.hasErrors('password')}">password must be not empty</p>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/users/unregister}" th:object="${userIdToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                    <p th:if="${#fields.hasErrors('id')}">id must be not empty</p>
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>


    <table id="users">
        <tr>
            <th>id</th>
            <th>user</th>
            <th>password</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.user}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </table>
</div>
</body>
</html>